@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap');


body {
    margin: 0;
    background: #020202;
    cursor: crosshair;
}

canvas {
    display: block
}

h1 {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 55px;
    text-align: center;
    font-weight: 900;
    -webkit-user-select: none;
    user-select: none;
}

img {
    position: absolute;
    top: 25%;
    left: 50%;
    padding-bottom: 20px;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 250px;
    border-radius: 50%;
    -webkit-user-select: none;
    user-select: none;
    object-fit: cover;
}

@media (max-width: 800px) {
    h1 {
        font-size: 2.5em;
    }

    img {
        padding-bottom: 35px;
    }
}